.container.d-flex.justify-content-center{style: "width:40em"}
  = current_user.songs.each do |item|
    = item.name
  = form_with model: [current_user, @playlist, @playlist_sound], local: true do |f|
    = f.submit
