= render "shared/navigation"
.container
  .row
    .col-6
      %h5 Accepted
      - current_user.friends_accepted.each do |friend|
        %hr
        .d-flex
          .col-11
            = friend.name
          .col-1
            %button.btn.ml-auto
              = fa_icon "minus-circle", class: "text-danger"
    .col-6
      %h3 Friends
      = form_with url: user_friends_url(current_user), local: true, class: "form-inline mb-4" do |f|
        = f.text_field :friend_uid, class: "form-control mr-sm-2"
        = f.submit "Add Friend", class: "btn btn-outline-success my-2 my-sm-0"
      %hr
      %h5 Pending
      - current_user.friends_pending.each do |friend|
        %hr
        .d-flex
          .col-11
            = friend.name
          .col-1
            %button.btn.ml-auto{id: "#pending-#{friend.id}", onclick: "acceptFriend(#{friend.id})"}
              = fa_icon "plus-circle", class: "text-success"
:javascript
  function acceptFriend(id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", #{current_user.id} + "/accept_friend/" + id, true);
    xhttp.send();
  }

