%center
  %h1
    Scenes
  %table.table.table-dark
    %tbody
      - @game.scenes.each do |scene|
        %tr
          %th
            = button_to scene.name, set_game_scene_path(@game, scene.id), class: "btn btn-link"
