.container{style: "width:40em;"}
  %h2 New Scene
  = form_with model: [@game, @scene], local: true do |f|
    .form-group.row.is-invalid
      .col-sm-2
        = f.label :name
      .col-sm-10
        = f.text_field :name
        = f.error_message_for(:name)
    .form-group.row.mt-3
      = f.label :description
      = f.text_area :description
      = f.error_message_for(:description)
    .form-group.row.mt-3
      = f.label :category
      = f.select(:category, Scene.categories.keys.map {|category| [category.titleize,category]})
      = f.error_message_for(:category)
    .form-group.row.mt-3
      = f.label :image
      = f.file_field :image
      = f.error_message_for(:image)
    .form-group.row.mt-3
      = f.label :audio
      = f.file_field :audio
      = f.error_message_for(:audio)
    = f.submit class: "btn btn-primary mt-5"

