= javascript_pack_tag 'game_scene', 'data-turbolinks-track': 'reload'

.container{"data-controller": "scene"}
  .row
    .card{style: "width: 18em;margin-right:1em"}
      %img.card-img-top{src: "", width: 286, height: 180}
      .card-body
        %h5.card-title 
          = ""
        = ""
        = link_to "Create", new_game_scene_url(@game), class: "btn btn-primary"
  .row
    = render "shared/scene_card", game: @game do |scene|
      %button.btn.btn-primary.changeScene{scene: SceneBlueprint.render(scene), "data-action": "click->scene#setScene"} Change Scene
      = link_to "Edit", edit_game_scene_url(@game, scene), class: "btn btn-secondary"
      = button_to "Delete", game_scene_url(@game, scene), method: :delete, class: "btn btn-danger", style: "width: 100%;"
