.row
  .col-2{class: "container-secondary body-item mb-4", "data-controller": "scene"}
    = render "scenes/control"
  .col-8
    = hidden_field_tag(:game_id, @game.id)
    .row.d-flex.justify-content-center
    - if @scene.image.attached?
      %img.img-responsive{id: :image, src: url_for(@scene.image.variant(resize_to_limit: [800, 800]))}
    - else
      %img{id: :image, src: '', style: "min-width: 100px; min-height:100px;"}
    %p#description.mt-2
      =@scene.description || ""
    %audio#player{ controls: "", autoplay: "" }
      %source#mp3_src{ src: @audio_url, type: "audio/mp3" }
  .col-2
