%table.table.table-dark
  %thead
    %tr
      %th{scope: "col"} Character
      %th{scope: "col"} Player
    %tbody
      - @game.characters.each do |character|
        %tr
          %th
            = character.name
          %th
            = character.user.email
