- if !local_assigns[:pending]
  - friends = current_user.friends_accepted
  = form_with url: user_friends_url(current_user), local: true, class: "form-inline mb-4" do |f|
    = f.text_field :friend_uid, class: "form-control mr-sm-2"
    = f.submit "Add Friend", class: "btn btn-outline-success my-2 my-sm-0"
- else
  - friends = current_user.friends_pending
%table.table.table-dark
  %thead
    %tr
      %th{scope: "col"} Friends
      %th{scope: "col"} Remove
    %tbody
      - friends.each do |friend|
        %tr
          %th
            = friend.email
          %th
            = fa_icon "minus-circle", class: "text-danger"

