.bg-dark
  %nav.navbar.navbar-dark{style: "width:25%;"}
    = link_to "Home", home_path(current_user), class: "btn btn-link"
    = link_to "Admin", game_admin_url(@game), class: "btn btn-link"
    = link_to "Characters", new_game_npc_url(@game), class: "btn btn-link"
    = link_to "Scenes", game_scenes_url(@game), class: "btn btn-link"
    .dropdown.show
      %a.btn.btn-link.dropdown-toggle#dropdownMusicLink{role: :button, "data-toggle": :dropdown, "aria-haspopup": :true, "aria-expanded": :true}
        Music
      .dropdown-menu{"aria-labelledby": :dropdownMusicLink}
        = link_to "Music", playlists_url(@game), class: "dropdown-item"
        =# link_to "Upload", new_home_music_url(@game), class: "dropdown-item"
:javascript
  window.onclick = function(e) {
    if (e.target.matches('.dropdown-toggle')) {
      e.target.parentElement.querySelector(".dropdown-menu").style.display = "block"
    } else {
      var i;
      var elemList = document.querySelectorAll(".dropdown-toggle");
      for(i = 0; i < elemList.length; i++) {
        elemList[i].parentElement.querySelector(".dropdown-menu").style.display = "none"
      }
    }
  }
