.bg-dark
  %nav.navbar.navbar-dark{style: "width:25%;"}
    = link_to "Home", home_path(current_user), class: "btn btn-link"
    .dropdown.show
      %a.btn.btn-link.dropdown-toggle#dropdownCharacterLink{role: :button, "data-toggle": :dropdown, "aria-haspopup": :true, "aria-expanded": :true}
        Characters
      .dropdown-menu{"aria-labelledby": :dropdownCharacterLink}
        = link_to "New", new_character_path(current_user), class: "dropdown-item"
        = link_to "View", characters_path(current_user), class: "dropdown-item"
    = link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-link"
  :javascript
    window.onclick = function(e) {
      if (e.target.matches('.dropdown-toggle')) {
        e.target.parentElement.querySelector(".dropdown-menu").style.display = "block"
      } else {
        var i;
        var elemList = document.querySelectorAll(".dropdown-toggle");
        for(i = 0; i < elemList.length; i++) {
          elemList[i].parentElement.querySelector(".dropdown-menu").style.display = "none"
        }
      }
    }
