- game.scenes.each do |scene|
  .card{style: "width: 18em;margin-right:1em"}
    %img.card-img-top{src: url_for(scene.image.variant(resize_to_limit: [286, 180])), width: 286, height: 180}
    .card-body
      %h5.card-title 
        = scene.name
      = scene.description
    = yield scene
