.container.d-flex.justify-content-center{style: "width:40em;"}
  = form_with model: [current_user, @song], local: true, id: "music-form" do |f|
    .form-group.is-invalid
      %label{:for => "song_audio", class: "btn btn-primary"}
        =f.file_field :audio, onchange: "MusicUpload()", accept: "audio/*", class: :upload
        Add Song
      = f.error_message_for(:name)
    = f.submit

:javascript
  function MusicUpload() {
    document.getElementById("music-form").submit();
  }
