= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
.container.d-flex.justify-content-center
  .col-6
    = form_with model: @game, url: games_path(@game), local: true do |f|
      .form-group.is-invalid
        = f.label :name
        = f.text_field :name
        = f.error_message_for(:name)
      = f.submit class: "btn btn-primary"
    %div.container-secondary.list#friend_added{"data-controller": "list-swap", "data-list-swap-companion-value": "friend_list"}
  .col-6
    %div.container-secondary.list#friend_list{"data-controller": "list-swap", "data-list-swap-companion-value": "friend_added"}
      %span{"data-list-swap-target": "output"}
      - current_user.friends.each do |friend|
        .text-center{"data-action": "click->list-swap#move"}
          = link_to friend.name, "javascript:void(0)", "data-id": "friend.id"
          %input{type: :hidden, name: "game[players][]", value: friend.id}
          %hr
