= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

.row
  .col-2
    - @game.players.each do |character|
      .card{style: "width: 16em;margin-right:1em"}
        %img.card-img-top{src: "", width: 75, height: 200}
        .card-body
          %h5.card-title.text-center 
            %span
              = character.name
            = button_to game_character_url(current_user, character), method: :delete, class: "btn", form_class: "inline" do
              = fa_icon "trash"
          -#character.title
  .col-8
    = hidden_field_tag(:game_id, @game.id)
    %center
      %h1
        = @game.name
      .col-6{class: "container-secondary mb-4 body-item"}
        %center
          %h1
            Playlists
        %table.table.table-dark.table-striped
          %thead
            %tr
              %th{scope: "col"} #
              %th{scope: "col"} Name
            %tbody
              - @game.playlists.each do |playlist|
                - if playlist.name.nil? then next end
                %tr{id: "playlist_#{playlist.id}", playlist_id: playlist.id}
                  %th
                    = fa_icon "play", {"data-playlist-id-value": playlist.id, "data-action": "click->playlist#start"}
                  %th
                    = playlist.name
      .col-6{class: "container-secondary body-item mb-4", "data-controller": "scene"}
        = render "scenes/control"
      .col-6{class: "container-secondary mb-4 body-item"}
        %center
          %h1
            NPCs
        %table.table.table-dark
          %thead
            %tr
              %th{scope: "col"} Character
              %th{scope: "col"} Remove
            %tbody
              - @game.npcs.each do |npc|
                %tr
                  %th
                    = npc.name
                  %th
                    = button_to game_character_url(current_user, npc), method: :delete, class: :delete do
                      = fa_icon "minus-circle", class: "text-danger"
  .col-2
