= render "shared/game_navigation"
.container
  %table.table.table-dark
    %thead
      %tr
        %th{scope: "col"} #
        %th{scope: "col"} Name
        %th{scope: "col"} Action
      %tbody
        - i = 1
        - @game.themes.each do |theme|
          %tr
            %th{scope: "row"} #{i}
            %th
              = File.basename(theme.blob.filename.to_s, File.extname(theme.blob.filename.to_s))
            %th
              %button.btn.btn-primary.changeScene{onclick: "changeTheme(#{theme.id})"} Play
          - i = i + 1
:javascript
  function changeTheme(id) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "set_theme/" + id, true);
    xhttp.send();
  }


