= form_with model: [@character], local: true do |f|
  .form-group.is-invalid.row.mb-2
    .col
      = f.label :name
    .col
      = f.text_field :name
    = f.error_message_for(:name)
  #skills
    - @character.stats.each do |stat|
      .form-group.is-invalid.row.mb-2
        .col
          = f.label stat["name"].to_sym
        .col
          = f.text_field "attributes[#{stat["name"]}]", value: stat["value"]
  - if not @character.is_player? then
    .form-group.row
    = f.label "Unique"
    = f.check_box :is_unique
  .form-group.row
    = f.submit class: "btn btn-primary"
