= render "shared/navigation"
.container
  - @characters.each_slice(2) do |slice|
    .row
      - slice.each do |character|
        .character
          %h3
            = character.name
            %button.btn
            = link_to edit_character_url(current_user, character), class: "btn" do
              %i.fa.fa-edit.mr-1
            = link_to character_url(current_user, character), data: {confirm: "Are you sure?"}, method: "delete", class: "btn" do
              %i.fa.fa-trash.mr-1
            - if character.sheet.attached?
              %i.fa.fa-file
          %hr
          - if !character.stats.nil?
            %h3 Stats
            %hr
            - character.stats.each do |stat|
              .row
                .col
                  = stat["name"]
                .col
                  = stat["value"]
          - if !character.skills.nil?
            %h3 skills
            %hr
            - character.skills.each do |k, v|
              .row
                .col
                  = k
                .col
                  = v
