.container
  .col-md-4
    %h3
      = @character.name
      %i.fa.fa-edit
      %i.fa.fa-file
      -if @character.portrait.attached?
        = @character.portrait
    %hr
    - if !@character.stats.nil?
      %h3 Stats
      %hr
      %table.table.table-dark
        - @character.stats.each do |k|
          %tr
            %th
              = k["name"]
            %th
              = k["value"]
    - if !@character.skills.nil?
      %h3 skills
      %hr
      %table.table.table-dark
        - @character.skills.each do |k|
          %tr
            %th
              = k["name"]
            %th
              = k["value"]
