= render "shared/navigation"
.container
  .row
    .col-8
      %div{style: "width:50%;"}
        = form_with model: Game.new, local: true, class: "form-inline mb-4" do |f|
          = f.text_field :name, class: "form-control mr-sm-2"
          .row.mt-3
            .col-6
              = f.submit "Create Game", class: "btn btn-outline-success", style: "width: 100%;"
            .col-6
              = f.submit "Join Game", class: "btn btn-outline-success", style: "width: 100%;"
      %table.user-table.table.table-dark
        - current_user.games.each do |game|
          %tr
            %th
              = link_to game.name, game_admin_url(game)
            %th
              = display_character_name(current_user, game)
    .col-4
      %h2.text-center Invites
      %table.table.table-dark{"data-controller": "invite", "data-invite-user-id-value": current_user.id}
        %tbody
          - current_user.game_invitations.each do |invite|
            %tr
              %th
                = invite.game.name
              %th
                %button.btn.btn-fa{"data-id": invite.id, "data-action": "click->invite#accept"}
                  = fa_icon "plus-circle", class: "text-success"
              %th
                %button.btn.btn-fa{"data-id": invite.id, "data-action": "click->invite#refuse"}
                  = fa_icon "minus-circle", class: "text-danger"
