.container.d-flex.justify-content-center 
  %div
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .form_group
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: "btn btn-primary"
    = render "devise/shared/links"
