= render "shared/navigation"
.container
  = form_with url: music_index_url(current_user), local: true, id: "music-form" do |f|
    = f.file_field :audio, id: "music-upload", onchange: "MusicUpload()"
  = link_to new_music_url do
    = fa_icon "plus", class: "text-success"
  %table.table.table-dark
    %thead
      %tr
        %th Name
        %th
    - current_user.audio.each do |music| 
      %tr
        %td
          = music.filename
        %td
          =  button_to music_url(current_user, music.id), method: :delete, class: :delete do
            = fa_icon "minus", class: "text-danger"
          
:javascript
  function MusicUpload() {
    document.getElementById("music-form").submit();
  }
