.container
  .d-flex{style: "justify-content: right;"}
    - if !user_signed_in?
      = link_to "Log In", new_user_session_url, {style: "margin-right:1em;"}
      = link_to "Register", new_user_registration_url
    - else
      = link_to "Home", user_url(current_user)
  .row
    .col-6
      %h1 Welcome
      Visual Adventures is a companion web site for RPGs that allows you to pair scenes with playlists
    .col-6
      %h1 News
