@import "bootstrap";
@import "font-awesome";
@import "variables";

body
  background-color: $secondary-color;
  color: $text-color;
  //color: #e4e4d0;

\:is(h1, h2, h3, h4, h5, h6)
  color: $text-color;

a 
  color: $text-color;

a:hover
  color: $text-color-highlight;
  text-decoration: none

a:link
  text-decoration: none

hr
  //border-top: 1px solid rbga(41, 41, 72, .1);//rgba(254, 254, 234, .1);
  color: $comp-color;
  opacity: 0.4;

.btn-link
  border-style: none;
  background-color: transparent;
//.btn-link
//  color: $text-color;
//  background-color: transparent;
//
//.btn-link:hover
//  color: $secondary-color;
//  text-decoration: none;
//  background-color: rgba(255, 255, 255, 0.2);

.fa
  color: #e4e4d0

.fa-trash
  color: #98010D

.btn
  color: $text-color

.btn.btn-primary
  background-color: $blue;
  border-color: $blue;

.card, .container
  background-color: $main-color;

.dropdown-menu
  background-color: $main-color;

.container
  padding: 2em;
  margin-top: 1em;
  border: 1px solid $tetra-color;
  min-height: 800px;

.delete
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

.upload 
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

.container-secondary
  background-color: $blue-secondary;

.table > :not(caption) > * > *
  background-color: $secondary-color;

.table-dark
  color: $text-color;

tr
  border-color: $comp-color;
  opacity: 0.4;

.list
  min-height: 20em;
  border-color: $blue;
  border-width: 1px;
  border-style: solid;
  margin: 5px;

button .btn-fa
  background-color: transparent;
  border-style: none;

.navbar a
  font-size: 18px;
  font-weight: bold;

.inline
  display: inline;
