// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "application"

.character
  @extend .col-md-4
  border: 1px solid #dee2e6
  margin-bottom: 3rem
  margin-right: 3rem
  padding-bottom: 0.25rem
