// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.user-table
  border-style: solid;
  border-width: 1px;
  border-color: $blue;

.user-table tr
  line-height: 40px;

.user-table th
  font-size: 18px;
