$dark-blue: #1B1B2F;
$blue: #1F4068;
$blue-secondary: #162447;

$secondary-color: #16213e;
$main-color: #1a1a2e;//#F8EDE3;
$tetra-color: #0f3460;
$comp-color: #e94560;

$text-color: #F8EDE3;
$text-color-highlight: #FFF6DC;
