.row{"data-controller": "song"}
  .col-md-3
    %div
      %span Song: 
      %span{"data-song-target": "name"}
    %div
      %span Length:
      %span{"data-song-target": "length"}
    = fa_icon "play"
    = fa_icon "pause"
  .col-md-9
    %h1 
      = @playlist.name
    %table.table.table-dark
      %thead
        %tr
          %th{scope: "col"} #
          %th{scope: "col"} Name
        %tbody
          - i = 1
          - @playlist.songs.each do |song|
            %tr{id: "song-#{song.id}"}
              %th{scope: "row"} #{i}
              %th
                = link_to song.name, "javascript:void(0);", {"data-action": "click->song#setSong", song: JSON.generate({id: song.id, name: song.name})}
              - i = i + 1
    %div
      = render "songs/form"
