.container
  .row
    .col-4.mx-auto
      %h3{class: "text-center"} Song List
      %div.container-secondary.list#song_list{"data-controller": "list-swap", "data-list-swap-companion-value": "songs_added"}
        %span{"data-list-swap-target": "output"}
        - current_user.songs.each do |song|
          .text-center{"data-action": "click->list-swap#move"}
            = link_to song.name, "javascript:void(0)", "data-id": "song.id"
            %input{type: :hidden, name: "playlist[songs][]", value: song.id}
            %hr
    .col-4.mx-auto
      = form_with model: [current_user, @playlist], local: true, id: "form_playlist" do |f|
        .row
          .form-group
            %center
              %h1 New Playlist
          .form-group.is-invalid
            = f.label :name
            = f.text_field :name
            = f.error_message_for(:name)
          .form-group.is-invalid
        = f.submit class: "btn btn-primary mt-3"
    .col-4
      %center
        %h3 Playlist Songs
      .mx-auto.mt-3.container-secondary.list#songs_added{"data-controller": "list-swap", "data-list-swap-companion-value": "song_list"}
