= render "shared/navigation"
.container
  - if current_page?(playlists_url(current_user.id)) then
    = link_to "Create", new_playlist_url(current_user), class: "btn btn-primary col-3 mb-3"
  - else
    = link_to "Create", new_game_playlist_url, class: "btn btn-primary col-3 mb-3"
  .row{"data-controller": "playlist", "data-playlist-display-value": "playlist_display"}
    .col-6
      %table.table.table-dark.table-striped
        %thead
          %tr
            %th{scope: "col"} #
            %th{scope: "col"} Name
          %tbody#playlists
            - @playlists.each do |playlist|
              - if playlist.name.nil? then next end
              %tr{id: "playlist_#{playlist.id}", playlist_id: playlist.id}
                %th
                  = fa_icon "play", {"data-playlist-id-value": playlist.id, "data-action": "click->playlist#start"}
                %th
                  =# link_to playlist.name, playlist_url(current_user, playlist)
                  = link_to playlist.name, "javascript:void(0)", {"data-action": "click->playlist#show"}
    .col-6
      %table.table.table-dark.table-striped
        %thead
          %tr
            %th{scope: "col"} #
            %th{scope: "col"} Songs
          %tbody#playlist_display
