= render "shared/navigation"

.container
  .col-6
    %table.table.table-dark
      %tbody
        - @characters.each do |character|
          %tr
            %th
              = button_to character.name, game_characters_url(@game, character.id), class: "btn-link", params: {character: character.id}
  .col-6

