!!!
%html
  %head
    %title DndMud
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if Rails.application.assets.find_asset params[:controller]
      = stylesheet_link_tag params[:controller] 
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    .notice
      = notice
    .alert
      = alert
