!!!
%html
  %head
    %title DndMud
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if Rails.application.assets.find_asset params[:controller]
      = stylesheet_link_tag params[:controller] 
  %body
    - if @game
      = render "shared/game_navigation"
      = hidden_field_tag(:game_id, @game.id)
    = yield
